@import './fonts.module.scss';

:root {
  --font-family-main: 'Kreon', serif;

  --fs-large: 96px;
  --fs-large-mobile: 64px;
  --fs-normal: 20px;
  --fs-label: 18px;
  --fs-small: 14px;

  --color-dark: #000000;
  --color-white: #ffffff;
  --color-pick-currency: #f0efef;

  --header-height: 121px;
  --layout-height: 231px;
  --max-width-mobile: 576px;

  font-family: var(--font-family-main);
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
}
