.wrapper {
  width: 100%;
  min-height: var(--layout-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.fullCurrency {
  margin: 0;
  font-size: var(--fs-large);
  text-align: center;
  @media (max-width: 575px) {
    font-size: var(--fs-large-mobile);
  }
}
